/* selection pane */

.selection-pane-button{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;

  color: whitesmoke;
  font-size: larger;
}

.selection-pane-button:hover{
  background-color:  rgba(255, 255, 255, 0.281);
  color: white;
  border-style: none;
}


.selection-pane{
  position: static;
  /* padding-top: 8%; */
  top: 20%;
}
.selection-pane-table{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/*character list pane*/
.letter-list-loading{
  font-size: 30pt;
  font-weight: bolder;
  color: white;
}
.letter-list-table{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter-list-body{
  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.letter-list-entry{
  border: 1vh black;
  border-style: solid;
  padding: 1mm 1mm 1mm 1mm;
  text-align: center;
  background-image: url('./../images/tilable3.png');
  color: white;
  min-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.letter-list-name-label {
  font-weight: bold;
  padding-bottom: 1vh;
}

.letter-list-img{
  height: 25vh;
  /* width: 35vh; */
  padding-bottom: 1vh;
}

/*Navigation*/
.letter-list-navi{

  width: 100%
}

.navi-buttons{
  width: 25%;
  min-height: 100%;
  height: auto;
  border-style: none;

  background-color: rgba(255, 255, 255, 0);
  color:whitesmoke;
  font-size: larger;
}

.navi-buttons:hover{
  background-color:  rgba(255, 255, 255, 0.281);
  color: white;
}


/* Search Bar */
.search{
  /* background-color: white; */
  display: grid;
  grid-template-areas: "bar bar enter";
}

.search .bar{
  grid-area: bar;
  font-size: larger;
}

.search .enter{
  grid-area: enter;
  font-size: larger;
}