.chosen-characters-element{
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
} 

.char-button{
    /* height: 150px;
    width: 100px; */
    color: black;
    font-size: 0.5cm;
    background-color: white;
}

.char-button img{
    height: 80px;
    width: 80px;
    border-style: ridge;
    border-color: black;
    border-width: 2px;
}

.chosen{
    width: 100%;
    
    /* transition: all .1s ease; */
    background-color: white;
    
}

.scrolled{
    position: fixed;
    transform: translateZ(0);
    top: 0;
    /* left: 0; */
    background-color: white;

    max-height: 30vh;
}

@media screen and (min-width: 960px){
    .scrolled{
        width:40%;
    }
}

/* .portrait{
    max-height: 1vh;
    max-width: 1vw;
} */