/*Chosen chars pane*/
.chosen-characters-element{
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
} 

.char-button{

    color: black;
    font-size: 0.5cm;
}

.char-button img{
    height: 80px;
    width: 80px;
    border-style: ridge;
    border-color: black;
    border-width: 2px;
}

/*Scrolling*/
.chosen{
    width: 100%;
}

.scrolled{
    position: fixed;
    transform: translateZ(0);
    top: 0;
    max-height: 30vh;
}

@media screen and (min-width: 960px){
    .scrolled{
        width:40%;
    }
}
