.detailed-char-view-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    color: white;
    width: 100%;

    min-height: 50vh;
    height: auto;
}

.detailed-char-view{
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
    flex-grow: 8;


}

.detailed-char-view .char-id{
    padding: 5;
    height:auto;
    width: auto;
}

.detailed-char-view .char-name{
    height:auto;
    width: auto;
    padding: 15;
}

.detailed-char-view .portrait{
    height:auto;
    max-height: 50vh;
    width: auto;
    max-width: 50vh;
    align-self: center;
}

.detailed-char-view-wrap .description{
    
}

.detailed-char-view-wrap .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;;
}

.detailed-char-view-wrap .options .option-element{
    height: auto;
    min-height: 5vh;
    width: auto;
    min-width: 5vh;
}