@import './character_browser.css';
@import './chosen_character.css';
@import './mobile.css';
@import './web.css';
@import './modal.css';

/*General rules for the page*/

#root{
  height: 100%;
}


.App{
  text-align: center;
  background-image: url('/src/images/tilable3.png');
  background-repeat: repeat;
  min-height: 100vh;
}

.title-bar{
  width: 100%;
  background-color: #ed1d24;
  font-size: 20pt;
  font-weight: bolder;
  color: white;

  display: flex;
  align-content: center;
  vertical-align: auto;
}

.title{
  font-size: 20pt;
  font-weight: bolder;
}

.border{
  background-color: white;
  min-height: 100vh;
}

.chosen-characters{
  position: static;
  top: 0;
  /* left: 20%; */
  width: 100%;
  font-size: larger;
}

.footer-attr{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: large;
  background-color: grey;
  opacity: 40%;
  color: #ed1d24;
  padding-bottom: 1.5mm;
  padding-top: 1mm;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.footer-attr a{
  text-decoration: none;
}

.footer-attr a:link{
  color: #ed1d24;
}

.footer-attr a:hover{
  color:  #ed1d24;
}

.footer-attr a:active{
  color: whitesmoke;
}

.footer-attr a:visited{
  color: #ad191e;
}

.footer-attr:hover{
  background-color: rgb(27, 27, 27);
  opacity: 90%;
}

