@import './character_browser.css';
@import './chosen_character.css';

#root{
  height: 100%;
}

/*General rules for both*/
.App{
  text-align: center;
  background-color: darkgray;
  min-height: 100vh;
}
.border{
  background-color: white;
  min-height: 100vh;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: large;
  background-color: grey;
  opacity: 40%;
}

footer:hover{
  opacity: 90%;
}

.chosen-characters{
  position: static;
  top: 0;
  /* left: 20%; */
  width: 100%;
  font-size: larger;
}