/* Use CSS media queries to dynamically change site for both mobile and 
web versions */

/*For small screen*/
@media screen and (max-width: 960px){
  .border{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-bottom: 10mm;
  }  
  .selection-pane-button{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .title{
    font-size: 20pt;
  }

  .letter-list-entry{
    min-width: 100vw;
  }
}